@model GrabPatient.Models.Service

@{
    ViewData["Title"] = "Service";
}

<h2>Make Appointment</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Provider)
        </dd>
        
       

        <dd>
            <button type="button" align="middle">Make Appointment</button>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>